.Rodape{
    position: absolute;
    width: 1300px;
    height: 103px;
    left: 0px;
    top: 547px;   
}

.rodape-div{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;    
    background: #31D6FB;
}

.Link{
    text-decoration: none;
    position: absolute;
    width: 911px;
    height: 42px;
    left: 192px;
    top: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    color: #23859A;
}
