.div-file{
    position: absolute;
    width: 1141px;
    height: 445px;
    left: 149px;
    top: 113px;    
    background: #FFFFFF;
}

.images{
    width: 275px;
    height: 183px;
}


ul li{
    list-style: none;
    display: inline-block;
}